{{/* ui/html/home.tmpl */}}
{{define "content"}}
<div class="weather-box">
    <p>Current temperature: {{.Weather.Current.Temperature}}°C</p>
    <p>City: {{.City}} Continent: {{.Continent}}</p>
</div>
</div>
{{end}}
